<header class="header">
  <div class="header-left">
    <img src="assets/images/video-player.png" alt="Logo" class="logo">
    <span class="brand-title">ZoTube</span>
  </div>

  <div class="header-right">
    {{#link-to "user" class="icon-button"}}
      <img src="assets/images/user.png" alt="User" class="icon">
    {{/link-to}}
    {{#link-to "logout" class="icon-button"}}
      <img src="assets/images/logout.png" alt="Logout" class="icon">
    {{/link-to}}
  </div>
</header>


<div class="search-container">
  {{input type="text" value=searchQuery placeholder="Search for videos..." class="search-bar" key-up=(action "searchVideos")}}
</div>

<h2 class="section-title">Recommended Videos</h2>
<div class="video-container">
  {{#if model.recommendedVideos.length}}
    {{#each model.recommendedVideos as |video|}}
      {{video-item video=video}}
    {{/each}}
  {{else}}
    <p class="no-videos-text">No recommended videos available.</p>
  {{/if}}
</div>

<h2 class="section-title">Other Videos</h2>
<div class="video-container">
  {{#if model.otherVideos.length}}
    {{#each model.otherVideos as |video|}}
      {{video-item video=video}}
    {{/each}}
  {{else}}
    <p class="no-videos-text">No other videos available.</p>
  {{/if}}
</div>
