<link rel="stylesheet" href="assets/css/video-details.css">
<link rel="icon" type="image/png" href="assets/images/video-player.png">
<a href="/" class="back-button">&#8592; Back</a>



<div class="container">

  <div class="left-section">

    <div class="video-container">

      <div class="video-wrapper">
        <div id="circleLoader" class="loading-spinner hidden"></div>

        <video id="videoPlayer" controls></video>

      </div>
      <div class="video-controls">
        <div class="video-buttons">
          <span id="currentTime">0:00</span>

          <button {{action "togglePlay"}} id="playPause">
            {{#if isPlaying}}
              ⏸
            {{else}}
              ▶
            {{/if}}
          </button>

          <button {{action "skipBackward"}}>◁</button>
          <button {{action "skipForward"}}>▷</button>
          <button {{action "fastRewind"}}>⏮</button>
          <button {{action "fastForward"}}>⏭</button>

          <select id="playbackSpeed" {{action "setPlaybackSpeedFromDropdown" on="change"}} >
            <option value="0.5">0.5x</option>
            <option value="1" selected>1x</option>
            <option value="1.5">1.5x</option>
            <option value="2">2x</option>
            <option value="4">4x</option>
          </select>

          <input
            type="range"
            id="volumeBar"
            value="1"
            min="0"
            max="1"
            step="0.01"
            {{action "setVolume" value="value" on="input"}}
          />

          <button {{action "zoomIn"}}>+</button>
          <button {{action "zoomOut"}}>-</button>
          <button {{action "resetVideo"}}>Reset</button>

          <button {{action "toggleFullScreen"}}>⛶</button>
          <span id="totalTime">0:00</span>
        </div>

        <div class="video-progress">
          <input
            type="range"
            id="videoBar"
            class="video-seek-bar"
            value="0"
            min="0"
            max="100"
            step="0.1"
          >
        </div>
      </div>
    </div>

<div class="video-details">
  <h2 class="video-title">{{model.fileName}}</h2>
  <p><strong>Size:</strong> {{model.size}}</p>
  <p><strong>Duration:</strong> <span id="videoDuration"></span></p>
</div>


  </div>

  <div class="right-section">
      <div class="button-controls">

         <div class="group">
           <button {{action "likeVideo"}} class="like-dislike-btn like-btn {{if isLiked 'liked'}}">
             👍 Like <span class="count">({{likeCount}})</span>
           </button>

           <button {{action "confirmDislike"}} class="like-dislike-btn dislike-btn {{if isDisliked 'disliked'}}">
             👎 Dislike <span class="count">({{dislikeCount}})</span>
           </button>

           <!-- Dislike Confirmation Modal -->
           <div id="dislikeModal" class="modal hidden">
             <div class="modal-content">
               <p>Do you not prefer these types of videos in the future or just dislike this video?</p>
               <button {{action "handleDislike" true}}>Remove Similar Videos</button>
               <button {{action "handleDislike" false}}>Dislike Only This Video</button>
               <button {{action "closeDislikeModal"}}>Cancel</button>
             </div>
           </div>

         </div>



        <div class="skip-control">
          <label for="skipInput">Skip</label>
          <input type="number" id="skipInput" placeholder="Enter seconds" />
          <button {{action "skipToSec"}}>Skip</button>
        </div>
        <div class="group">
          <button {{action "downloadFrame"}}>Download Frame</button>
          <button {{action "convertBlackAndWhite"}}>Black & White</button>
        </div>
        <div class="subtitle-controls">
          <label for="subtitleToggle">Subtitle :</label>
          <select id="subtitleToggle">
            <option value="on">On</option>
            <option value="off" selected>Off</option>
          </select>
        </div>
      </div>


<div class="comment-section">
  <h3>Comments</h3>

  <div class="new-comment">
    <textarea id="commentText" placeholder="Add a comment..." rows="3"></textarea>
    <div class="comment-buttons">
      <button {{action "postComment"}}>Post Comment</button>
      <button {{action "viewComments"}}>View Comments</button>
    </div>
  </div>

  {{#if commentStatusMessage}}
    <div class="comment-status">{{commentStatusMessage}}</div>
  {{/if}}


  <div class="comments-section">
    {{#each comments as |comment|}}
      <li class="comment-item">
        <p class="comment-user">
          {{#if (equal comment.username currentUsername)}}
            posted by you
          {{else}}
            @{{comment.username}}
          {{/if}}
        </p>
        <p class="comment-text" data-comment-id="{{comment.commentId}}">
          {{detect-time comment.commentText}}
        </p>
        <p class="comment-time">
        <span class="video-time"
              style="color: blue; text-decoration: underline; cursor: pointer;"
              data-time="{{comment.videoTime}}"
          {{action "moveToVideoTime" comment.videoTime}}>
          {{comment.videoTime}}
        </span> - {{comment.relativeTime}}
        </p>
        {{#if (equal comment.username currentUsername)}}
          <div class="comment-actions">
            <button {{action "editComment" comment}}>Edit</button>
            <button {{action "deleteComment" comment}}>Delete</button>
          </div>
        {{/if}}
      </li>
    {{/each}}
  </div>


</div>

</div>

</div>
